.car-item {
    height: 257px;
    background-color: #fff;
    border-radius: 24px;
    padding: 30px 30px 0;
    margin: auto;
    @include webkit(box-sizing, border-box);
    @include webkit(box-shadow, 0 0 18px 0 rgba(0,0,0,.2));
    header { 
      display: flex;
      h4, span { flex: 1 } 
    }
  }
.car-brand {
  height: 100px;
  background-color: #fff;
  border-radius: 24px;
  padding: 30px 30px 0;
  margin: auto;
  @include webkit(box-sizing, border-box);
  @include webkit(box-shadow, 0 0 18px 0 rgba(0,0,0,.2));
  header {
    display: flex;
    h4, span { flex: 1 }
  }
}
  .cars-logo {
    height: 34px;
    img {
      display: inline-block;
      border-style: none;
      vertical-align: middle;
      margin-right: 10px;
    }
    .cars-name {
      font-size: 16px;
    }
  }
  .cars-attr {
    line-height: 34px;
    opacity: .5;
  }
  .car-content {
    position: relative;
    margin: 11px 0 7px;
    @extend %clearfix;
    img {
      height: 120px;
      float: right;
    }
    .info {
      position: absolute;
      display: flex;
      align-items: center;
      width: 100%;
      height: 100%;
    }
    .car-number {
        font-size: 18px;
      }
    .car-eletric {
      display: inline-block;
      padding-top: 10px;
      li {
        display: inline-block;
        width: 7px;
        height: 24px;
        background-color: #e1e1e1;
        margin-right: 3px;
        border-radius: 100px;
      }
      @for $i from 1 through 10 {
        &.active-li-#{$i} {
          li:nth-child(-n+#{$i}) {@include webkitA(background, linear-gradient(to top, #17a8fa, #108dd9))};
        }
      }
    }
  }
  .distance {
    display: inline-block;
    margin-left: 5px;
    strong {
      font-size: 22px;
      margin: 0 5px;
    }
    sub {
      position: relative;
      top: -2px;
      &:first-of-type {
        opacity: .6;
      }
    }
  }
  .parking-lot {
    position: relative;
    display: block;
    border-top: 1px solid #e1e1e1;
    color: $color-main;
    opacity: .8;
    line-height: 53px;
    &:after {
      content: "";
      position: absolute;
      right: 0;
      top: 50%;
      width: 8px;
      height: 8px;
      margin-top: -8px;
      border-top: 1px solid #d6d7d9;
      border-right: 1px solid #d6d7d9;
      @include webkit(transform, rotate(45deg));
    }
  }
  .car-item-detail {
    //position: absolute;
    //top: 0;
    //left: 0;
    //right: 0;
    //height: 500px;
    margin-top: 10px;
    .car-select-btn {
      position: absolute;
      left: 50%;
      margin-left: -120px;
      bottom: -42px;
    }
    .scroll-wrap {
      height: 100%;
      overflow-y: auto;
    }
    .column {
      position: relative;
      margin-bottom: 19px;
      padding: 26px 0 20px;
      font-size: 20px;
      color: #34393f;
      border-bottom: 1px solid #e1e1e1;
      .close {
        position: absolute;
        right: 0;
        top: 25px;
        display: block;
        width: 26px;
        height: 26px;
        &:after, &:before {
          content: "";
          position: absolute;
          top: 50%;
          left: 50%;
          height: 20px;
          margin-left: -1px;
          margin-top: -10px;
          border-left:  2px solid #999c9f;
          cursor: pointer;
        }
        &:after { @include webkit(transform, rotate(45deg)); }
        &:before { @include webkit(transform, rotate(-45deg)); }
      }
    }
  }
  .car-eletric-box {
    padding: 15px;
    margin-top: 17px;
    border-radius: 100px;
    background-color: #fff;
    @include webkit(box-shadow, 0 0 10px 0 rgba(0,0,0,.1))
    .e-bg {
      display: block;
      height: 8px;
      background: #e1e1e1;
      border-radius: 100px;
    }
    .e-high {
      height: 100%;
      position: absolute;
      left: 0;
      top: 0;
      background: #0f9cee;
      border-radius: 100px;
      
    }
  }
  .info {
    padding: 32px 0 28px;
  }
  .car-type-list {
    li {
      height: 43px;
      padding: 0 17px 0 20px;
      margin-bottom: 15px;
      background-color: #f3f3f3;
      border-color: #f3f3f3;
      border-style: solid;
      border-width: 2px;
      border-radius: 10px;
      font-size: 16px;
      line-height: 43px;
      &.current {
        border-color: #0f9cee;
      }
    }
  }
  .clause-dec {
    @extend %clearfix;
    i {
      float: right;
      width: 20px;
      height: 20px;
      border-radius: 100px;
      background-color: #ccc;
      &.current {
        background-color: $color-main;
      }
      &:after {
        content: "";
        display: block;
        width: 8px;
        height: 4px;
        margin: 6px 0 0 5px;
        border-left: 2px solid #fff;
        border-bottom: 2px solid #fff;
        @include webkit(transform, rotate(-45deg))
      }
    }
  }