@import './normalize.scss';
@import './sassConfig.scss';
@import './icon.scss';
@import './ui.scss';

/*float*/
.pull-right { float: right; }
.pull-left { float: left; }

/*clearfix*/
.clearfix { @extend %clearfix; }

/*font-size*/
.fs-24 { font-size: 24px; }

/*position*/
.p-r { position: relative; }
.p-a { position: absolute; }

/*color*/
.color-main { color: $color-main; }

/*text-align*/
.text-center { text-align: center; }
.text-left { text-align: left; }
.text-right { text-align: right; }

/*common ui*/
.car-select-btn {
  display: inline-block;
  width: 240px;
  height: 84px;
  border-radius: 100px;
  line-height: 84px;
  text-align: center;
  background-color: $color-main;
  color: #fff;
  font-size: 26px;
  font-weight: 300;
}
/*user*/
.user-container {
  padding: 0 30px;
}